html {
    scroll-padding-top: 70px;
}

body {
    padding-bottom: 30px;
    padding-top: 70px;
}

.center {
    text-align: center;
    align-items: center;
}


.main {
    /* padding-top: 2%; */
    min-height: 100%;
}

.center table {
    margin-left: auto;
    margin-right: auto;
    width: inherit;
    table-layout: fixed;
    /* border: 1px solid black; */
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.icon {
    padding: 5px;
    font-size: larger;
    color: black;
}

.icon-link {
    padding: 5px;
    /* color: black; */
    font-weight: 500;
    
}

.intro {
    padding-top: 20px;
}

.icon.icon-li {
    color: #2867b2;
}

.profile {
    width: 250px;
    padding-right: 50px;
}

.navbar a {
    color: black;
    font-size: 1.1em;
}

.navbar a:hover {
    color: black;
}

#publications {
    padding-bottom: 10px;
}

.pubdiv {
    /* padding-top: 20px; */
}

.publinks {
    font-size: 0.9em;
    padding-bottom: 10px;
}

.pubauths {
    font-size: 0.9em;
}

.pubtitle {
    font-size: 1.15em;
    margin-bottom: 5px;
    padding-top: 5px;
}

.decls {
    font-size: small;
}

td {
    padding: 2px;
}

td.left {
    padding-left: 10px;
    border-left: 1px solid lightgray;
}

td.right {
    padding-right: 10px;
    border-right: 1px solid lightgray;
}

.icondiv {
    font-size: 0.95em;
}

.navbar-brand {
    font-size: 1.5em !important;
    color: black !important;
}