.container {
    font-family: 'Montserrat', sans-serif;
}

.main {
    padding-top: 10%;
    min-height: 100%;
}

.center {
    text-align: center;
}

.icon {
    padding: 5px;
    font-size: larger;
    color: black;
}

.icon-link {
    padding: 10px;
    color: black;
    
}

.icon-link:hover {
    color: black;
    text-decoration: none;
}

.intro {
    padding-top: 20px;
}