.container {
    font-family: 'Montserrat', sans-serif;
}

.main {
    padding-top: 2%;
    min-height: 100%;
}

.center {
    text-align: center;
}

.icon {
    padding: 5px;
    font-size: larger;
    color: black;
}

.icon-link {
    padding: 10px;
    color: black;
    
}

.icon-link:hover {
    color: black;
    text-decoration: none;
}

.intro {
    padding-top: 20px;
}

.icon.icon-li {
    color: #2867b2;
}

.profile {
    width: 250px;
    padding: 20px;
}

.navbar a {
    color: black;
}

.navbar a:hover {
    color: black;
}

.pubdiv {
    padding-top: 10px;
}

.publinks {
    font-size: 0.9em;
}

.pubauths {
    font-size: 0.9em;
}

.decls {
    font-size: small;
}